header {
    background-color: #fcfafa;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: #ed0e0e;
}



/* Style the list inside the menu */
nav ul {
    list-style-type: none;
    padding: 0;
}


footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}
